version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/2027-online-shop"
    schedule:
      interval: "weekly"

  - package-ecosystem: "npm"
    directory: "/2027-online-shop/apps/api-gateway"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
