version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: nexus_db
    environment:
      POSTGRES_USER: nexus
      POSTGRES_PASSWORD: password
      POSTGRES_DB: nexus_shop
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - nexus_net

  redis:
    image: redis:7-alpine
    container_name: nexus_cache
    ports:
      - "6379:6379"
    networks:
      - nexus_net

volumes:
  postgres_data:

networks:
  nexus_net:
    driver: bridge
